#title-home {
    color: rgb(209, 133, 34);
    text-transform: uppercase;
    font-size: 68px;
    font-weight: 900;
    text-shadow:  0 0 3px rgb(0, 0, 0);
    
}

#div-title {
    width: 20%;
}

.home {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    z-index: 1;
    width: 100%;
    background-image: url("https://thumbs.dreamstime.com/z/spices-sale-market-debark-ethiopia-amhara-165679174.jpg")
}

.div-between {
    background-color: rgba(31, 31, 36, 0.615);
    text-transform: uppercase;
    font-size: 68px;
    letter-spacing: .1em;
    color: rgb(209, 133, 34);
}



