#title-home {
    color: rgb(209, 133, 34);
    text-transform: uppercase;
    font-size: 68px;
    /* font-family: Now Alt; */
    font-weight: 900;
    /* line-height: 1; */
    text-shadow:  0 0 3px rgb(0, 0, 0);
    
}

#div-title {
    width: 20%;
}

.home {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    z-index: 1;
    width: 100%;
    background-image: url("https://thumbs.dreamstime.com/z/spices-sale-market-debark-ethiopia-amhara-165679174.jpg")
}

.div-between {
    background-color: rgba(31, 31, 36, 0.615);
    text-transform: uppercase;
    font-size: 68px;
    letter-spacing: .1em;
    color: rgb(209, 133, 34);
}

#carousel {
    margin: 0;
    padding: 130px 0 92px;
    position: relative;
    background-image: url(https://cdn.shopify.com/s/files/1/0984/4296/files/topseller-background.jpg?v=1624272957);
    background-repeat: no-repeat;
    background-size: cover;
    /* z-index: 1; */

}

#title-top {
   
    background: url(https://cdn.shopify.com/s/files/1/0984/4296/files/seller-after-background_df6c0db4-ad86-4b18-9f43-b812c46bd1ba.png?v=1624370675) no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

#images-curses{
    z-index: -1;
}