.BookCard {
    color:rgb(8, 11, 8);
}
.book-card{
    position: relative;
    width: 250px;
    height: 320px;

    
}
.book-img{
    width: 80%;
    height: 80%;
}
.book-title{
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}

.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d ;
    transition: all 0.8s ease;
    

}
.thecard:hover{
transform: rotateY(180deg);

}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    font-family: 'zilla slab',sans-serif;
    font-size: 18px;
    font-weight: bold;

    color: rgb(51, 51, 51);
}
.theback{
    position: absolute;
    width: 80%;
    height: 80%;
    backface-visibility: hidden;
    background: #000000;
    color:rgb(172, 17, 17);
    transform: rotateY(180deg);
    background-color: rgb(158, 223, 158);
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}